.display-grid {
  display: grid;
  grid-gap: 1px;
  
  &.grid {
    &-row {
      grid-column: 1;

      &-size {
        &--1 { grid-template-columns: 1fr; }
        &--2 { grid-template-columns: 1fr 1fr; }
        &--3 { grid-template-columns: 1fr 1fr 1fr; }
        &--4 { grid-template-columns: 1fr 1fr 1fr 1fr; }
        &--5 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
        &--6 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
        &--7 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
        &--8 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
        &--9 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
        &--10 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
        &--11 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
        &--12 { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
      }
    }
  }

  .grid {
    &-cell { grid-row: 1; }
  }
}