.container {
  box-sizing: border-box;
 -moz-box-sizing: border-box;
  margin: 0 auto;
  max-width: 75%;
}

@each $breakpoint in $breakpoints {
  $query: nth( $breakpoint, 1);
  $name: nth( $breakpoint, 2);

  @media only screen and #{ $query } {
    .col-#{ $name } {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;

      -webkit-box-flex: 1;
     -webkit-flex-grow: 1;
     -ms-flex-positive: 1;

      -webkit-flex-basis: 0;
 -ms-flex-preferred-size: 0;
    }

    @for $i from 1 through $columns {

      .col-#{ $name } {
        $calc: ((100 / $columns) * $i) * 1%;

        &-#{ $i } {
          @include grid-col($calc);
        }

        &-offset-#{$i} {
           margin-left: $calc;
        }
      }
    }
  }
}
