.module
  h1.module-title Module: Offsets

  section.module-content#grid-offset

    .row
      .cell.cell-sm.unstyled

        section.module-section
          article

            include modules/offsets-offsets

      .margin.mv16

      .cell.cell-sm-6.cell-md-5.unstyled

        section.module-section
          header
            h3.module-title #{offset_viewport}
            p.module-description #{offset_viewport_description}

          article

            include modules/offsets-viewport
