section#grid-nested

  header
    h2.module-title #{nested}
    p.module-description #{nested_description}

  article

    .row
      .cell.cell-sm

        .row
          .cell

            .row

              - for( var na = 0; na < 4; na++ )

                .cell.cell-xs
                  .row

                    - for( var nb = 0; nb < 3; nb++ )

                      .cell.cell-xs

      .cell.cell-sm

        .row
          .cell
            .row
              .cell
                .row
                  .cell
