.nav-menu {

  &.open {
    ul {
      display: flex;
    }
  }

  ul {
    @include flexbox;
    @include flex(1);
    @include flex-direction;

    font-size: 50%;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    li {
      @include flexbox;
      @include flex(1);

      animation-fill-mode: both;
      animation-duration: 1s;
      animation-name: bounceInDown;
      background: #fff;
      border-bottom: 1px solid #efefef;

      @for $i from 1 through 13 {
        @if $i < 10 {

          $delay: "0.#{$i}"

        } @else {

          $delay: "1.#{$i - 10}"
        }

        &.animated-#{$i} {
          animation-delay: unquote("#{$delay}s");
        }

        &:last-child {
          border-bottom: none;
        }
      }

      a {
        @include flexbox;
        @include flex(1);

        align-items: center;
        color: rgba(nth($bluejeans, 2), 1);
        font-weight: 700;
        padding-left: $theme-spacing;
        padding-right: $theme-spacing;
        text-transform: capitalize;
      }
    }
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: none;
  }
}
