// Please note that this helper is work in progress, it will be introduced in v1.1
//

.grid-columns {
  @include flexbox;
  @include flex-direction;

  height: 100%;
}

.row {
  &-half {
    flex: .5;
  }

  &-auto {
    flex: 5;
  }

  &-whole {
    flex: 1;
  }
}
