.nav-menu {

  &.open {
    ul {
      display: flex;
    }
  }

  ul {
    @include flexbox;
    @include flex(1);
    @include flex-direction;

    font-size: 50%;
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

    li {
      @include flexbox;
      @include flex(1);

      animation-fill-mode: both;
      animation-duration: 2s;
      animation-name: bounceInDown;
      background: #fff;
      border-bottom: 1px solid #efefef;

      @for $i from 1 through 13 {
        @if $i < 10 {

          $delay: "0.#{$i}"

        } @else {

          $delay: "1.#{$i - 10}"
        }

        &.animated-#{$i} {
          animation-delay: unquote("#{$delay}s");
        }

        &:last-child {
          border-bottom: none;
        }
      }

      a {
        @include flexbox;
        @include flex(1);

        align-items: center;
        color: rgba(nth($bluejeans, 2), 1);
        font-weight: 700;
        padding-left: $theme-spacing;
        padding-right: $theme-spacing;
        text-transform: capitalize;

        &:hover {
          background-color: #efefef;
        }
      }
    }
  }

  &--trigger {
    background: #fff;
    border: $theme-border--size solid rgba(nth($bluejeans, 1), 1);
    border-radius: 100%;
    bottom: $theme-spacing * 5.5;
    box-shadow: 0 0 0 2px #fff;
    display: block;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 2.5em;

    img {
      height: 39px;
      padding-bottom: 7px;
      padding-left: 11px;
      padding-right: 7px;
      padding-top: 10px;

      @include media("screen", "sm") {
        height: 50px;
      }
    }
  }
}
