.nav-menu {
  height: 100%;

  .sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }

  ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 80%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    li {
      display: flex;
      flex: 1;
      animation-fill-mode: both;
      animation-duration: 2s;
      animation-name: bounceInDown;
      background: #fff;
      border-bottom: 1px solid rgba(nth($mediumgray, 1), 1);

      @for $i from 1 through 13 {
        @if $i < 10 {

          $delay: "0.#{$i}"

        } @else {

          $delay: "1.#{$i - 10}"
        }

        &.animated-#{$i} {
          animation-delay: unquote("#{$delay}s");
        }

        &:last-child {
          border-bottom: none;
        }
      }

      a {
        align-items: center;
        color: rgba(nth($bluejeans, 2), 1);
        display: flex;
        font-weight: 700;
        flex: 1;
        padding-left: $theme-spacing;
        padding-right: $theme-spacing;
        text-transform: capitalize;

        &:hover {
          background-color: rgba(nth($mediumgray, 1), 1);
        }
      }
    }
  }

  &--trigger {
    align-self: center;
    flex: 1;

    &:hover {
      .lines {

        &:before { top: $theme-spacing - 2; }
        &:after { top: -( $theme-spacing - 2 ); }
      }
    }

    .lines,
    .lines:before,
    .lines:after {
      background-color: $theme-border--color;
      border-radius: $theme-border--radius;
      display: inline-block;
      height: $theme-spacing / 2.5;
      transition: .5s;
      width: $theme-spacing * 2.5;
    }

    .lines {
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
      }

      &:before { top: $theme-spacing - 4; }
      &:after { top: -( $theme-spacing - 4 ); }
    }

    &.close {
      .lines {
        background: transparent;

        &:before, &:after{
          top: 0;
          transform-origin: 50% 50%;
        }

        &:before{
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after{
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
    }
  }
}
