.nav-menu {
  height: 100%;

  ul {
    display: flex;
    // flex: 1;
    flex-direction: column;
    // font-size: 80%;
    height: 100%;
    // left: 0;
    position: absolute;
    // top: 0;
    width: 100%;

    li {
      display: flex;
      flex: 1;
      animation-duration: $animation-duration;
      animation-fill-mode: both;
      animation-name: bounceInDown;
      background: #fff;
      border-bottom: $theme-border--size solid rgba($gray, .8);

      @for $i from 1 through 13 {
        @if $i < 10 {

          $delay: "0.#{$i}"

        } @else {

          $delay: "1.#{$i - 10}"
        }

        &.animated-#{$i} {
          animation-delay: unquote("#{$delay}s");
        }
      }

      a {
        align-items: center;
        color: $blue;
        display: flex;
        flex: 1;
        padding: 0 $theme-spacing;
        text-transform: capitalize;

        &:hover {
          background-color: rgba($gray, 1);
        }
      }
    }
  }

  &--trigger {
    align-self: flex-end;
    display: flex;
    padding: 10px 0;

    @include media("screen", "sm") { align-self: center; }

    &:hover {
      .lines {
        &:before { top: $theme-spacing - 2; }
        &:after { top: -( $theme-spacing - 2 ); }
      }
    }

    .lines,
    .lines:before,
    .lines:after {
      background-color: $theme-border--color;
      border-radius: $theme-border--radius;
      display: inline-block;
      height: $theme-spacing / 2.5;
      transition: .5s;
      width: $theme-spacing * 2.5;
    }

    .lines {
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
      }

      &:before { top: $theme-spacing - 4; }
      &:after { top: -( $theme-spacing - 4 ); }
    }

    &.close {
      .lines {
        background: transparent;

        &:before, &:after{
          top: 0;
          transform-origin: 50% 50%;
        }

        &:before{
          transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after{
          transform: rotate3d(0, 0, 1, -45deg);
        }
      }
    }
  }
}
