.row--social {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding-bottom: $theme-spacing;
  padding-top: $theme-spacing;
  position: relative;
  z-index: 1;

  @include media("screen", "md") {
    padding-bottom: $theme-spacing * 2;
    padding-top: $theme-spacing * 2;
  }

  > .cell {
    @extend .cell-align--center;
  }

  &:before,
  &:after {
    background-color: #fff;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:before {
    left: -100%;
  }

  &:after {
    right: -100%;
  }

  ul {
    @extend .row;
  }
}

.social {

  &-btn {
    flex: 1;
    margin-left: $theme-spacing / 2;

    .btn {
      padding: 0;
      width: 100%;

      .fa {
        align-self: center;
        min-width: 40px;
        text-align: center;
      }

      $social-media-list: "facebook", "twitter", "googleplus", "pinterest", "reddit", "digg";
      $social-media-colors: $color-facebook, $color-twitter, $color-googleplus, $color-pinterest, $color-reddit, $color-digg;

      @for $i from 1 through length($social-media-list) {

        &--#{ nth($social-media-list, $i) } {
          border-color: nth($social-media-colors, $i);

          .social-counter {
            background-color: nth($social-media-colors, $i);
          }

          .fa {
            color: nth($social-media-colors, $i);
          }

          &:hover {

            .social-counter {
              &:before {
                border-right-color: nth($social-media-colors, $i);
              }
            }
          }
        }
      }

      &--googleplus {
        .fa-googleplus:before {
          content: "\f0d5";
        }
      }
    }
  }

  &-counter {
    border-radius: 100%;
    margin: ( $theme-spacing / 4 ) ( $theme-spacing / 2.5 );
    flex: 1;
    font-size: 9px;
    padding-bottom: $theme-spacing / 5;
    padding-top: $theme-spacing / 5;
    position: relative;
    text-align: center;

    &:before {
      content: '';
      position: absolute;
      left: -8px;
      top: 6px;
      border-bottom: 5px dashed transparent;
      border-left: 5px dashed transparent;
      border-right: 5px dashed transparent;
      border-top: 5px dashed transparent;
    }
  }
}
