$green:       #A0D468;
$lightgreen:  #D5E1A3;
$darkgreen:   #8CC152;
$blue:        #42A2DC;
$lightblue:   #4FC1E9;
$darkblue:    #10689A;
$red:         #DA564A;
$lightred:    #ED5565;
$darkred:     #DA4453;
$yellow:      #FFCE54;
$darkyellow:  #FCBB42;
$orange:      #FC6E51;
$darkorange:  #E9573F;
$purple:      #AC92EC;
$darkpurple:  #967ADC;
$white:       #FFFFFF;
$gray:        #F0F0F0;
$lightgray:   #E5E5E5;
$darkgray:    #999999;
$black:       #333333;

$color-facebook:    #3b5998;
$color-twitter:     #55acee;
$color-googleplus:  #dd4b39;
$color-reddit:      #ff4500;
$color-digg:        #000000;
$color-pinterest:   #cc2127;

$animation-duration: 3s;

$theme-border--color: $darkgray;
$theme-border--radius: 2px;
$theme-border--size: 1px;

$theme-background-color: $gray;
$theme-box-color: $white;
$theme-box-shadow-color: #555555;

$theme-spacing: 15px;
