$color_facebook:  #3d5b95;
$color_twitter:   #24aadd;
$color_google:    #d23e30;

$grapefruit:  #ED5565, #DA4453; // red
$bittersweet: #FC6E51, #E9573F; // orange
$sunflower:   #FFCE54, #FCBB42; // yellow
$grass:       #A0D468, #8CC152; // green
$mint:        #48CFAD, #37BC9B; // green
$aqua:        #4FC1E9, #3BAFDA; // blue
$lavender:    #AC92EC, #967ADC; // purple
$pinkrose:    #EC87C0, #D770AD; // pink
$lightgray:   #F5F7FA, #E6E9ED; // white/gray
$mediumgray:  #f6f6f6, #F4F4F4; // gray
$darkgray:    #656D78, #434A54; // black

$new_gray: #F0F0F0, #F9F9F9, #E7E7E7;

$newgreen: #D5E1A3;

$bluejeans: #42A2DC, #10689A; // blue

$theme-spacing: 15px;
$theme-border--size: 1px;
$theme-border--radius: 2px;
