@import "mixins";

:root {
  --borderSize: 2px;
  --borderColor: #000;
  --columns: 12;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;

  @media only screen {
    // width: 100%;
  }

  // @media only screen and (min-width: 40em) {
  //   width: 0;
  // }

  @media only screen and (min-width: 40.063em)  {
    width: 40.063em;
  }

  // @media only screen and (min-width: 40.063em) and (max-width: 64em) {
  //   width: 0;
  // }

  @media only screen and (min-width: 64.063em) {
    width: 64.063em;
  }

  // @media only screen and (min-width: 64.063em) and (max-width: 90em) {
  //   width: 0;
  // }

  @media only screen and (min-width: 90.063em) {
    width: 90.063em;
  }

  // @media only screen and (min-width: 90.063em) and (max-width: 120em) {
  //   width: 0;
  // }

  @media only screen and (min-width: 120.063em) {
    width: 120.063em;
  }
}

.grid {
  border: 1px solid red;
  padding: 1px;

  &-cell {
    border: 1px solid blue;
    padding: 1px;
  }
}

body {
  padding-top: 42px;

  &:before {
    content: "This is the Mobile media screen";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #efefef;
    color: #999;
    z-index: 1;
    width: 100%;
    padding: 15px;
    font-size: 12px;
    box-sizing: border-box;

    @media only screen {
      content: "Define mobile styles";
    }

    // @media only screen and (min-width: 40em) {
    //   content: "max-width 640px, mobile-only styles, use when QAing mobile issues";
    // }

    @media only screen and (min-width: 40.063em)  {
      content: "min-width 641px, medium screens";
    }

    // @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    //   content: "min-width 641px and max-width 1024px, use when QAing tablet-only issues";
    // }

    @media only screen and (min-width: 64.063em) {
      content: "min-width 1025px, large screens";
    }

    // @media only screen and (min-width: 64.063em) and (max-width: 90em) {
    //   content: "min-width 1025px and max-width 1440px, use when QAing large screen-only issues";
    // }

    @media only screen and (min-width: 90.063em) {
      content: "min-width 1441px, xlarge screens";
    }

    // @media only screen and (min-width: 90.063em) and (max-width: 120em) {
    //   content: "min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues";
    // }

    @media only screen and (min-width: 120.063em) {
      content: "min-width 1921px, xxlarge screens";
    }
  }
}

  .grid {
    @include box-sizing;

    @include flexbox;
    @include flex;
    @include flex-direction(row);
    @include flex-wrap;

    &.reverse {
      @include flex-direction(row-reverse);
    }

    &-cell {
      @include flex;

      flex-basis: 0;
      max-width: 100%;

      @include flex-grow(1);

      .reverse {
        @include flex-direction(column-reverse);
      }
    }
  }

@mixin grid-size($value: auto) {
  flex-basis: $value;
  max-width: $value;
}



// .grid-cell-xs {
//   @include flex-basis;
//   @include flex-grow(1);

//   max-width: 100%;
// }

// @for $i from 1 through 12 {
//   .grid-cell-xs-#{ $i },
//   .grid-cell-xs-offset-#{ $i } {
//     @extend %grid-xs-list-styles;
//   }
// }

// %grid-xs-list-styles {
//   @include box-sizing;

//   @include flexbox;
//   @include flex;
//   @include flex-direction;
//   @include flex-grow;
//   @include flex-shrink;
// }


// @media only screen and (min-width: 48em) {
  // .grid-container {
  //   width: 60rem;
  // }

  @for $i from 1 through 12 {
    .grid-cell-sm-#{ $i },
    .grid-cell-sm-offset-#{ $i } {
      @extend %grid-sm-list-styles;
    }
  }

  %grid-sm-list-styles {
    box-sizing: border-box;

    @include flexbox;
    @include flex-direction;

    @include flex;
    @include flex-grow;
    @include flex-shrink;
  }

  @for $i from 1 through 12 {
    $calc: ((100 / 12) * $i) * 1%;

    .grid-cell-sm-#{ $i } {
      @include grid-size($calc)
    }

    .grid-cell-sm-offset-#{ $i } {
      margin-left: $calc;
    }
  }
// }







// @for $i from 1 through var(--columns) {
//   $calc: ((100 / var(--columns)) * $i) * 1%;

//   .grid-cell-xs-#{ $i } {
//     @include grid-size($calc)
//   }

//   .grid-cell-xs-offset-#{ $i } {
//     margin-left: $calc;
//   }
// }



// @media only screen and (min-width: 62em) {
//   .grid-container {
//     width: 80rem;
//   }

//   @for $i from 1 through var(--columns) {
//     .grid-cell-md-#{ $i },
//     .grid-cell-md-offset-#{ $i } {
//       @extend %grid-md-list-styles;
//     }
//   }

//   %grid-md-list-styles {
//     box-sizing: border-box;

//     @include flexbox;
//     @include flex-direction;

//     @include flex;
//     @include flex-grow;
//     @include flex-shrink;
//   }

//   .grid-cell-md {
//     flex-basis: 0;
//     max-width: 100%;

//     @include flex-grow(1);
//   }

//   @for $i from 1 through var(--columns) {
//     $calc: ((100 / var(--columns)) * $i) * 1%;

//     .grid-cell-md-#{ $i } {
//       @include grid-size($calc)
//     }

//     .grid-cell-md-offset-#{ $i } {
//       margin-left: $calc;
//     }
//   }
// }

// @media only screen and (min-width: 75em) {
//   .grid-container {
//     width: 100rem;
//   }

//   @for $i from 1 through var(--columns) {
//     .grid-cell-lg-#{ $i },
//     .grid-cell-lg-offset-#{ $i } {
//       @extend %grid-lg-list-styles;
//     }
//   }

//   %grid-lg-list-styles {
//     box-sizing: border-box;

//     @include flexbox;
//     @include flex-direction;

//     @include flex;
//     @include flex-grow;
//     @include flex-shrink;
//   }

//   .grid-cell-lg {
//     flex-basis: 0;

//     @include flex-grow(1);
//     max-width: 100%;
//   }

//   @for $i from 1 through var(--columns) {
//     $calc: ((100 / var(--columns)) * $i) * 1%;

//     .grid-cell-lg-#{ $i } {
//       @include grid-size($calc)
//     }

//     .grid-cell-lg-offset-#{ $i } {
//       margin-left: $calc;
//     }
//   }
// }

// .grid-cell-content-center {
//   align-items: center;
//   justify-content: center;
// }
