// Specify how many grids our column will have.

$grid-columns: 12;

// Using em for as using pixels will enact a horizontal scroll bar when zooming

$grid-sm-min: 40.063em;
$grid-md-min: 64.063em;
$grid-lg-min: 90.063em;

// $grid-sm-min: 768px;
// $grid-md-min: 982px;
// $grid-lg-min: 1200px;

:root {
  --grid-sm-container: calc( #{$grid-sm-min} / 1.1);
  --grid-md-container: calc( #{$grid-md-min} / 1.1);
  --grid-lg-container: calc( #{$grid-lg-min} / 1.1);
  --grid-gutter: 2px;
  --grid-gutter-calc: calc( var(--grid-gutter) / 2);
}
