@import "config";
@import "mixins";

*,
*:before,
*:after {
  @include box-sizing;
}

.grid,
.grid-fluid {
  @include box-sizing;

  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;

  @include media("screen", "sm") {

    padding-left: 0;
    padding-right: 0;
  }
}

.row {
  @include flexbox;

  @include flex;
  @include flex-direction(row);
  @include flex-wrap;

  margin-left: -( var(--grid-gutter-calc));
  margin-right: -( var(--grid-gutter-calc));

  &.reverse {
    @include flex-direction(row-reverse);
  }
}

.cell {
  margin-left: var(--grid-gutter-calc);
  margin-right: var(--grid-gutter-calc);

  &-first { order: -1 }
  &-last { order: 1 }
}

%cell-styles {
  @include flexbox;

  @include flex;
  @include flex-direction;
  @include flex-grow;
  @include flex-shrink(0);
}

// TODO: Find a better way!
//
// This feels repetitive, by doing it twice, but so far, this is the only option
// for not repeating the code inside each media query definition
//
// Distribution for around and between
//
$flex-distributions: "around" "between";

@each $distribution-option in $flex-distributions {

  .cells-#{ $distribution-option } {
    justify-content: space-#{ $distribution-option };
  }
}

// Alignments for main axis  (x): start, center, end
// Alignments for cross axis (y): top, middle, bottom, baseline
//
// dependency: mixins.scss @media
//
$flex-alignments: "x" ("start" "center" "end"),
                  "y" ("top"("flex-start"), "middle"("center"), "bottom"("flex-end"), "baseline"("baseline"));

@each $align-option in $flex-alignments {
  @include flex-alignments( ".cells", nth($align-option, 1), nth($align-option, 2));
}

$grid-breakpoints: "xs" "sm" "md" "lg";

// For each breakpoint we have specified, we create a block
//
// dependency: $grid-breakpoints
//
@each $breakpoint in $grid-breakpoints {

  // Starting with the first ( not 0 ) breakpoint, we create media queries for
  // responsiveness
  //
  // dependency: mixins.scss @media
  //
  @include media("screen", $breakpoint) {

    // This is where we define the width of the grids container
    //
    .grid {
      width: var(--grid-#{ $breakpoint }-container);
    }

    // From 1 to 12, where "$grid-columns" is the number of our columns we
    // defined, we create the cells of the grid
    //
    // Generates: cell-*, cell-*-# and cell-*-offset-#
    //
    @for $i from 1 through $grid-columns {

      .cell-#{ $breakpoint },
      .cell-#{ $breakpoint }-#{ $i },
      .cell-#{ $breakpoint }-offset-#{ $i } {
        @extend %cell-styles;
      }
    }

    .cell-#{ $breakpoint } {

      @include flex-grow(1);
      @include flex-basis(0);

      max-width: 100%;

      &-first { order: -1; }
      &-last { order: 1; }
    }

    .cells-#{ $breakpoint } {

      @each $distribution-option in $flex-distributions {

        &-#{ $distribution-option } {
          justify-content: space-#{ $distribution-option };
        }
      }

      @each $align-option in $flex-alignments {
        @include flex-alignments( "&", nth($align-option, 1), nth($align-option, 2));
      }
    }

    @for $i from 1 through $grid-columns {
      $calc: (( 100 / $grid-columns ) * $i ) * 1%;

      .cell-#{ $breakpoint }-#{ $i } {
        @include flex-basis(calc(#{ $calc } - #{ var(--grid-gutter) }));

        max-width: $calc;
      }

      .cell-#{ $breakpoint }-offset-#{ $i } {
        margin-left: calc(#{ $calc } - #{ var(--grid-gutter) });
      }
    }
  }
}
