html{font-family:sans-serif;}body{margin:0;}article,aside,details,figcaption,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}audio:not([controls]){display:none;height:0;}[hidden],template{display:none;}a{background:transparent;}a:active,a:hover{outline:0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}h1{font-size:2em;margin:.67em 0;}mark{background:#ff0;color:#000;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:1em 40px;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}pre{overflow:auto;}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}button{overflow:visible;}button,select{text-transform:none;}button,html input[type='button'],input[type='reset'],input[type='submit']{cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}input{line-height:normal;}input[type='checkbox'],input[type='radio']{box-sizing:border-box;padding:0;}input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button{height:auto;}input[type='search']{-moz-box-sizing:content-box;box-sizing:content-box;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em;}legend{border:0;padding:0;}textarea{overflow:auto;}optgroup{font-weight:bold;}table{border-collapse:collapse;border-spacing:0;}td,th{padding:0;}

@import "config";
@import "mixins";
@import "gridle";

@import "components/lists";
@import "components/visibility";

@import "components/columns"; // wip

*,
*:before,
*:after {
  transition: all 1s ease-in-out;

  @include box-sizing;
}

h1, h2, h3, h4, h5, h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

p { font-size: .8em; }
span { font-size: .6em; }

a {
  font-size: 1.5em;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

$grapefruit:  #ED5565, #DA4453; // red
$bittersweet: #FC6E51, #E9573F; // orange
$sunflower:   #FFCE54, #FCBB42; // yellow
$grass:       #A0D468, #8CC152; // green
$mint:        #48CFAD, #37BC9B; // green
$aqua:        #4FC1E9, #3BAFDA; // blue
$lavender:    #AC92EC, #967ADC; // purple
$pinkrose:    #EC87C0, #D770AD; // pink
$lightgray:   #F5F7FA, #E6E9ED; // white/gray
$mediumgray:  #F4F3EE, #AAB2BD; // gray
$mediumgray:  #CCD1D9, #AAB2BD; // gray
$darkgray:    #656D78, #434A54; // black

$newgreen: #D5E1A3;

$bluejeans: #5D9CEC, #507DBC; // blue

$theme-spacing: 15px;
$theme-border--size: 1px;
$theme-border--radius: 2px;


//////////// Theme
//
// Header
//
//// Brand
//// Devices
//// Navigation
//

html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 80%;
}

  .grid {
    padding-left: $theme-spacing;
    padding-right: $theme-spacing;
  }

// Header

.header {
  background-color: rgba(nth($bluejeans, 1), 1);
  color: #fff;
  height: 100%;
}

.brand {

  &-pronunciation {
    font-weight: 300;
    margin-left: $theme-spacing / 2;
  }
}

.social-buttons {

  .btn {
    color: #fff;
    margin-left: $theme-spacing;

    .fa {
      font-size: 1.2em;
    }
  }
}

.nav-menu {
  // flex: 1;


  &.open {
    .toggle-menu-button {

    }

    ul {
      display: block;
    }
  }



  ul {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    font-size: 70%;
    // height: 80%;
    // overflow: auto;

    li {
      color: #000;
      padding: $theme-spacing;
      background: #fff;
      border-bottom: 1px solid #efefef;
      backface-visibility: visible;
      animation-name: bounceInDown;
      animation-fill-mode: both;
      animation-duration: 1s;

      // argh! TODO: Find a better way!
      @for $i from 1 through 9 {

        &.animated-#{$i} {
          animation-delay: unquote("0.#{$i}s");
        }
      }

      @for $i from 10 through 13 {

        &.animated-#{$i} {
          animation-delay: unquote("1.#{$i - 10}s");
        }
      }

      a {
        font-weight: 700;
        color: rgba(nth($bluejeans, 2), 1);
      }
    }
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  100% {
    transform: none;
  }
}

.device {
  @include flexbox;
  @include flex(1);
  @include flex-direction;

  @mixin phone-styles($bwidth: 1px, $bradius: 3em) {
    background-color: #fff;
    border: $bwidth solid rgba(#C9CDC0, 1);
    border-bottom: none;
    border-top-left-radius: $bradius;
    border-top-right-radius: $bradius;

    @include flex(1);
  }

  .outter-frame {
    @include phone-styles(2px, 3em);

    @include flexbox;
    @include flex-direction;

    padding-left: .7em;
    padding-right: .7em;

    .toggle-menu-button {
      border: $theme-border--size solid rgba(nth($bluejeans, 1), 1);
      box-shadow: 0 0 0 2px #fff;
      display: block;
      margin: 0 auto;
      width: 2.5em;
      padding: $theme-spacing / 1.5;
      border-radius: 100%;
      position: absolute;
      bottom: $theme-spacing;
      left: 0;
      right: 0;
      z-index: 1;
      background: #fff;
    }
  }

  .inner-frame {
    @include phone-styles(1px, .2em);

    overflow: auto;
    position: relative;
    width: 100%;
  }

  .camera {
    width: 6px;
    height: 6px;
    background-color: #C9CDC0;
    margin-top: 1em;
    border-radius: 100%;

    @include media("screen", "sm") {
      display: none;
    }
  }

  .mic {
    width: 45px;
    height: 5px;
    background-color: #C9CDC0;
    margin-top: 1em;
    margin-bottom: 2.5em;
    border-radius: 50em;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: -2em;
      top: -2px;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: #C9CDC0;
    }
  }
}

// .twitter-feed {

//   &__header {
//     padding-top: $theme-spacing;
//     padding-bottom: $theme-spacing;
//     padding-left: $theme-spacing;
//     padding-right: $theme-spacing;
//   }

//   &__icon {
//     font-size: 3em;
//     color: rgba(#55acee, 1);
//   }

//   &__user {
//     color: #000;
//     font-size: 2em;
//     font-weight: 700;
//     margin-left: $theme-spacing / 2;
//   }

//   &__button {
//     background-color: rgba(#55acee, 1);
//     border-radius: 2px;
//     font-size: .7em;
//     padding: ( $theme-spacing / 2 ) $theme-spacing;
//   }

//   &__feed {

//     .twt {
//       &_picture {
//         border-radius: 50em;
//         height: 5em;
//         background-color: #fff;
//       }

//       &_user {
//         padding: 7px !important;
//         margin-bottom: 2px;
//       }

//       &_handle {
//         padding: 7px !important;
//         margin-bottom: 2px;
//       }

//       &_tweet {
//         padding: 15px !important;
//         margin-bottom: 2px;
//       }
//     }

//     article {
//       padding: 0;

//       > .row {
//         margin-bottom: 3px;
//       }
//     }
//   }
// }

// .source {
//   background-color: #fff;
//   font-size: .7em;
//   padding: $theme-spacing;

//   pre {
//     margin: 0;
//   }
// }








// // Hacks for demonstration purposes

// .demo-alignment .row {
//   height: 10em;

//   span {
//     border-bottom: 1px dotted rgba(0, 0, 0, .4);
//     padding: 3px 0;
//   }
// }

// .demo-baseline {
//   &-1 {
//     height: 5em;

//     span {
//       font-size: 3em;
//     }
//   }

//   &-2 {
//     height: 9em;

//     span {
//       font-size: 4.5em;
//     }
//   }
// }


//   article {
//     padding-top: $theme-spacing * 2;
//     padding-bottom: $theme-spacing * 2;

//     header {
//       p {
//         margin-top: $theme-spacing / 2;
//       }
//     }

//     section {
//       margin-top: $theme-spacing;
//     }

//     .cell:not(.no-fill) {
//       background-color: rgba(nth($mediumgray, 1), .2);
//       padding: 10px;
//       font-size: .5em;
//     }

//     .cell.no-fill {
//       p {
//         margin-top: $theme-spacing;
//       }

//       p, .alert {
//         margin-bottom: $theme-spacing;
//       }
//     }

//     &:nth-child(even) {
//       background-color: rgba(nth($mediumgray, 1), .2);

//       .cell:not(.no-fill) {
//         background-color: rgba(#fff, 1);
//       }
//     }
//   }
