article#grid-alignment

  .grid

    header
      h3 Alignment
      p
        | This defines the alignment along the main axis. It helps distribute
        | extra free space left over when either all the flex items on a line
        | are inflexible, or are flexible but have reached their maximum size.

    section

      .row
        .cell.cell-xs
          .row.cells-start
            .cell.cell-xs-7 start

        .cell.cell-xs
          .row.cells-center
            .cell.cell-xs-7 center

        .cell.cell-xs
          .row.cells-end
            .cell.cell-xs-7 end

      .row
        .cell.no-fill
          p
            | Similar to the above except you can specify the behaviour of how
            | flex-items are laid out along the cross axis, instead of main axix,
            | of the current line.

      .row.demo-alignment
        .cell.cell-xs
          .row.cells-top
            .cell top

        .cell.cell-xs
          .row.cells-middle
            .cell middle

        .cell.cell-xs
          .row.cells-bottom
            .cell bottom

        .cell.cell-xs
          .row
            .cell stretch

        .cell.cell-md-4
          .row.cells-baseline
            .cell.cell-xs.demo-baseline-1
              span baseline
            .cell.cell-xs.demo-baseline-2
              span baseline
            .cell.cell-xs
              span baseline

      .row
        .cell.no-fill
          p
            | You an also specify on what viepoint the grid will apply to alignment

      .row.demo-alignment.cells-sm-top
        .cell.cell-xs
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, reprehenderit ipsum atque distinctio ad, nihil repudiandae ut omnis dignissimos suscipit non quos debitis inventore fuga alias. Quod ut nesciunt aut.
        .cell.cell-xs
        .cell.cell-xs
