article

  .grid

    header
      h1 Alignment
      p
        | Add classes to align elements to the start, center or end of the row.
        | As well as the top, bottom or center of a column.

    section#nested-grid

      .row
        .cell.cell-xs.cell-sm-4
          .row.cell-start
            .cell.cell-xs-2

        .cell.cell-xs.cell-sm-4
          .row.cell-center
            .cell.cell-xs-2

        .cell.cell-xs.cell-sm-4
          .row.cell-end
            .cell.cell-xs-2

    //- alignment top, middle and bottom
