section#grid-basic
  .grid

    header
      h4.section-title Auto Width
      p.section-description
        | Add any number of auto sizing cells to a row. Let the grid figure it
        | out

    article

      .row

        - for( var i = 0; i < 4; ++i )
          .cell.cell-xs auto

      .row
        .cell.cell-xs-3 cell-xs-3
        .cell.cell-xs auto
        .cell.cell-xs-2 cell-xs-2
        .cell.cell-xs auto

    article

      header
        h5.section-title Auto Width on Viewport
        p.section-description
          | You can also specify on which viewport the grid should figure it
          | out whether or not it should apply it.

      .row
        .cell.cell-sm.cell-md-3
          span.visible-xs full-xs
          span.visible-sm auto-sm
          span.visible-md cell-md-3
          span.visible-lg auto-lg

        .cell.cell-sm.cell-md
          span.visible-xs full-xs
          span.visible-sm auto-sm
          span.visible-md auto-md
          span.visible-lg auto-lg

        .cell.cell-sm.cell-md-2
          span.visible-xs full-xs
          span.visible-sm auto-sm
          span.visible-md cell-md-2
          span.visible-lg auto-lg

        .cell.cell-sm.cell-md
          span.visible-xs full-xs
          span.visible-sm auto-sm
          span.visible-md auto-md
          span.visible-lg auto-lg
