article#grid-basic
article#grid-basic

  .grid

    header
      h3 Basic Grid

      a.btn.btn-outline(href="#") View Source

    section

      .preview

        .row
          .cell.cell-xs-3 cell-xs-3
          .cell.cell-xs-6 cell-xs-6
          .cell.cell-xs-3 cell-xs-3

        .row
          .cell.cell-xs-10 cell-xs-10
          .cell.cell-xs auto

        .row
          .cell.cell-xs
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos blanditiis odit et ratione, id laboriosam sapiente consequuntur laborum officia, impedit eligendi natus quisquam dolor in at aliquam, tempore maiores est.

          .cell.cell-xs-10.hidden-xs
            .row
              .cell.cell-xs-4 cell-xs-4
              .cell.cell-xs-4 cell-xs-4
              .cell.cell-xs-4 cell-xs-4

            .row
              .cell.cell-xs-2 cell-xs-2
              .cell.cell-xs-2 cell-xs-2
              .cell.cell-xs-2 cell-xs-2
              .cell.cell-xs-2 cell-xs-2
              .cell.cell-xs-2 cell-xs-2
              .cell.cell-xs-2 cell-xs-2

            .row
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1
              .cell.cell-xs-1 cell-xs-1

            .row
              .cell.cell-xs-12 cell-xs-12

        .source
          .row
            .cell.no-fill

                pre

                  | <div class="row">
                  |   <div class="cell cell-xs-3"></div>
                  |   <div class="cell cell-xs-6"></div>
                  |   <div class="cell cell-xs-3"></div>
                  | </div>
                  | &nbsp;
                  | <div class="row">
                  |   <div class="cell cell-xs-10"></div>
                  |   <div class="cell cell-xs"></div>
                  | </div>
                  | &nbsp;
                  | <div class="row">
                  |   <div class="cell cell-xs"></div>
                  |   <div class="cell cell-xs-10 hidden-xs">
                  | &nbsp;
                  |     <div class="row">
                  |       <div class="cell cell-xs-4"></div>
                  |       <div class="cell cell-xs-4"></div>
                  |       <div class="cell cell-xs-4"></div>
                  |     </div>
                  | &nbsp;
                  |     <div class="row">
                  |       <div class="cell cell-xs-2"></div>
                  |       <div class="cell cell-xs-2"></div>
                  |       <div class="cell cell-xs-2"></div>
                  |       <div class="cell cell-xs-2"></div>
                  |       <div class="cell cell-xs-2"></div>
                  |       <div class="cell cell-xs-2"></div>
                  |     </div>
                  | &nbsp;
                  |     <div class="row">
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |       <div class="cell cell-xs-1"></div>
                  |     </div>
                  | &nbsp;
                  |     <div class="row">
                  |       <div class="cell cell-xs-12"></div>
                  |     </div>
                  |   </div>
                  | </div>
