article

  .grid

    header
      h1 Basic Grids
      p
        | Dynamic grid, features, expands to fit the grid row by default,
        | if no (viewport size) is specified, the cell will default to 100%
        | of the row `.cell` will default to 100% unless a viewport size is
        | specified `.cell-#`

    section.grid-basic

      .row
        .cell.cell-sm cell-sm
        .cell.cell-sm cell-sm
