.device-demo--content.cd-gallery
  .device-demo--side.device-demo--side-a.cd-item
    a.btn.btn--round.btn--demo(href="", title="Check out some Demos")
      i.fa.fa-lightbulb-o
    p
      | More demos will be made available soon.

  .device-demo--side.device-demo--side-b.cd-item
    a.btn.btn--round.btn--download(href="https://github.com/studio51/gridlecss/archive/v#{version}.zip", title="GridleCSS v#{version}")
      i.fa.fa-arrow-down
    p
      | Download GridleCSS v#{version}
