article#grid-distribution

  .grid--fluid

    header
      h3.section-title Distribution

    section

      .row
        .cell.cell-xs-12.cell-sm.no-fill
          p.section-description
            | Flex items are displayed with equal spacing between them, first and
            | last flex items are aligned to the edges of the flex container

          .cell
            .row.distribute-between.text-center
              .cell.cell-xs-3 distribute-between
              .cell.cell-xs-3 distribute-between
              .cell.cell-xs-3 distribute-between

        .cell.cell-xs-12.cell-sm.no-fill
          p.section-description
            | Flex items are displayed with equal spacing around every flex item,
            | even the first and the last flex items

          .cell
            .row.distribute-around.text-center
              .cell.cell-xs-3 distribute-around
              .cell.cell-xs-3 distribute-around
              .cell.cell-xs-3 distribute-around

      h3.section-title Distribution by Viewport
      p.section-description
        | You can also specify what distribution rule should be considered
        | depending on the viewport by adding the viewport class

      .cell
        .row.distribute-around.distribute-sm-between.distribute-md-around.distribute-lg-between.text-center
          .cell.cell-xs-3
            .visible-xs distribute-around
            .visible-sm distribute-sm-between
            .visible-md distribute-md-around
            .visible-lg distribute-lg-between

          .cell.cell-xs-3
            .visible-xs distribute-around
            .visible-sm distribute-sm-between
            .visible-md distribute-md-around
            .visible-lg distribute-lg-between

          .cell.cell-xs-3
            .visible-xs distribute-around
            .visible-sm distribute-sm-between
            .visible-md distribute-md-around
            .visible-lg distribute-lg-between
