article#grid-distribution

  .grid

    header
      h3 Distribution
      p
        | Add classes to distribute the contents of a row or column

    section.text-center

      .row.cells-between
        .cell.cell-xs-1 between
        .cell.cell-xs-1 between
        .cell.cell-xs-1 between
        .cell.cell-xs-1 between
        .cell.cell-xs-1 between

      .row.cells-around
        .cell.cell-xs-1 around
        .cell.cell-xs-2 around
        .cell.cell-xs-1 around

      .row.cells-around
        .cell.cell-xs-2 around
        .cell.cell-xs-3 around
        .cell.cell-xs-2 around

      .row.cells-around
        .cell.cell-xs-3 around
        .cell.cell-xs-4 around
        .cell.cell-xs-3 around

      .row.cells-around
        .cell.cell-xs-2 around
        .cell.cell-xs-3 around
        .cell.cell-xs-2 around

      .row.cells-around
        .cell.cell-xs-1 around
        .cell.cell-xs-2 around
        .cell.cell-xs-1 around

      .row.cells-between
        .cell.cell-xs-1 between
        .cell.cell-xs-1 between
        .cell.cell-xs-1 between
        .cell.cell-xs-1 between
        .cell.cell-xs-1 between
