section#grid-distribution
  .grid

    header
      h4.section-title Distribution

    article.separator

      .row
        .cell.cell-sm.no-style

          header
            p.section-description
              | Flex items are displayed with equal spacing between them, first and
              | last flex items are aligned to the edges of the flex container

          .row
            .cell
              .row.distribute-between.text-center
                .cell.cell-xs-3 distribute-between
                .cell.cell-xs-3 distribute-between
                .cell.cell-xs-3 distribute-between

        .cell.cell-sm.no-style

          header
            p.section-description
              | Flex items are displayed with equal spacing around every flex item,
              | even the first and the last flex items

          .row
            .cell
              .row.distribute-around.text-center
                .cell.cell-xs-3 distribute-around
                .cell.cell-xs-3 distribute-around
                .cell.cell-xs-3 distribute-around

      .row
        .cell.cell-sm.no-style

          header
            h4.section-title Distribution by Viewport
            p.section-description
              | You can also specify what distribution rule should be considered
              | depending on the viewport by adding the viewport class

          .row
            .cell
              .row.distribute-around.distribute-sm-between.distribute-md-around.distribute-lg-between.text-center
                .cell.cell-xs-3
                  .visible-xs distribute-xs-around
                  .visible-sm distribute-sm-between
                  .visible-md distribute-md-around
                  .visible-lg distribute-lg-between

                .cell.cell-xs-3
                  .visible-xs distribute-xs-around
                  .visible-sm distribute-sm-between
                  .visible-md distribute-md-around
                  .visible-lg distribute-lg-between

                .cell.cell-xs-3
                  .visible-xs distribute-xs-around
                  .visible-sm distribute-sm-between
                  .visible-md distribute-md-around
                  .visible-lg distribute-lg-between
