article

  .grid

    header
      h1 Fluid
      p
        | Percent based widths allow fluid resizing of columns and rows

    section.grid-the

      .row
        .cell.cell-xs cell-12

      .row
        .cell.cell-xs-1 cell-1
        .cell.cell-xs-11 cell-11

      .row
        .cell.cell-xs-2 cell-2
        .cell.cell-xs-10 cell-10

      .row
        .cell.cell-xs-3 cell-3
        .cell.cell-xs-9 cell-9

      .row
        .cell.cell-xs-4 cell-4
        .cell.cell-xs-8 cell-8

      .row
        .cell.cell-xs-5 cell-5
        .cell.cell-xs-7 cell-7

      .row
        .cell.cell-xs-6 cell-6
        .cell.cell-xs-6 cell-6
