article#grid-nested

  .grid

    header
      h3 Masonry
      p
        | A cell, inside a row, inside a cell, inside a row.. ooh you get it!

    section

      .cells-masonry
        .cells.cell-xs-3
        .cells.cell-xs-2
        .cells.cell-xs-1
        .cells.cell-xs-5
        .cells.cell-xs-7
        .cells.cell-xs-3
        .cells.cell-xs-3
        .cells.cell-xs-2
        .cells.cell-xs-3
        .cells.cell-xs-3
