article
  header
    h1 Masonry

  span
    | The cube

  section.grid-masonry

    .row
      .cell.cell-xs-4
      .cell.cell-xs-4
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsum assumenda neque deserunt sed soluta eos accusamus dignissimos at qui incidunt debitis, cum asperiores ea, hic culpa natus quisquam ex.
      .cell.cell-xs-4

      .cell.cell-xs-4
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsum assumenda neque deserunt sed soluta eos accusamus dignissimos at qui incidunt debitis, cum asperiores ea, hic culpa natus quisquam ex.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur nesciunt architecto laborum alias cupiditate quis adipisci, molestias enim voluptatibus obcaecati corrupti, nam, nemo ex omnis, saepe nostrum! Eum, magni, deserunt.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet impedit eum, odio nostrum, dolorem quasi vitae quis molestiae praesentium! Assumenda itaque labore dolorum dolores laudantium earum expedita consequuntur placeat unde.
      .cell.cell-xs-4
      .cell.cell-xs-4
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis consequatur voluptate perspiciatis asperiores vel, ut, consectetur nulla quo quas atque deserunt distinctio, aspernatur provident? Esse sed, ad voluptate tempora voluptatibus.

      .cell.cell-xs-4
      .cell.cell-xs-4
      .cell.cell-xs-4
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsum assumenda neque deserunt sed soluta eos accusamus dignissimos at qui incidunt debitis, cum asperiores ea, hic culpa natus quisquam ex.
