article

  .grid

    header
      h1 Gridcellceptional!
      p
        | A box, inside a cell, inside a box, inside a cell.. ooh you get it!

    section#nested-grid
      .row
        .cell.cell-sm-6
          .row
            .cell.cell-xs-12
              .row
                .cell.cell-xs-3
                  .row
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                .cell.cell-xs-3
                  .row
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                .cell.cell-xs-3
                  .row
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                .cell.cell-xs-3
                  .row
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                    .cell.cell-xs-4

        .cell.cell-sm-6
          .row
            .cell.cell-xs-12
              .row
                .cell.cell-xs-12
                  .row
                    .cell.cell-xs-12
