article#grid-nested

  .grid--fluid

    header
      h3 Gridcellceptional!
      p
        | A cell, inside a row, inside a cell, inside a row.. ooh you get it!

    section

      .row
        .cell.cell-sm-6
          .row
            .cell.cell-xs-12
              .row
                .cell.cell-xs-3
                  .row
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                .cell.cell-xs-3
                  .row
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                .cell.cell-xs-3
                  .row
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                .cell.cell-xs-3
                  .row
                    .cell.cell-xs-4
                    .cell.cell-xs-4
                    .cell.cell-xs-4

        .cell.cell-sm-6
          .row
            .cell.cell-xs-12
              .row
                .cell.cell-xs-12
                  .row
                    .cell.cell-xs-12
