article#grid-offset

  .grid

    header
      h3 Offsets

    section

      .row
        .cell.cell-xs-offset-11.cell-xs-1 offset-11

      .row
        .cell.cell-xs-offset-10.cell-xs-2 offset-10

      .row
        .cell.cell-xs-offset-9.cell-xs-3 offset-9

      .row
        .cell.cell-xs-offset-8.cell-xs-4 offset-8

      .row
        .cell.cell-xs-offset-7.cell-xs-5 offset-7

      .row
        .cell.cell-xs-offset-6.cell-xs-6 offset-6

      .row
        .cell.cell-xs-offset-5.cell-xs-7 offset-5

      .row
        .cell.cell-xs-offset-4.cell-xs-8 offset-4

      .row
        .cell.cell-xs-offset-3.cell-xs-9 offset-3

      .row
        .cell.cell-xs-offset-2.cell-xs-10 offset-2

      .row
        .cell.cell-xs-offset-1.cell-xs-11 offset-1

      p.row-title
        | Offsets by viewport

      .row
        .cell.cell-xs-12.cell-sm-3.cell-sm-offset-2.cell-md-offset-4.cell-lg-offset-6
          span.visible-xs extra small, no offset
          span.visible-sm small screen offset 2
          span.visible-md medium screen offset 4
          span.visible-lg large screen offset 6
