section#grid-offset
  .grid

    header
      h4.section-title Offsets

    article

      - for( var i = 1; i < 12; ++i )
        - var offset = (i - 12)

        .row
          div(class="cell cell-xs-offset#{offset} cell-xs-#{i}") offset#{offset}

    article

      header
        h5.section-title Offsets by viewport

      .row
        .cell.cell-xs-3.cell-sm-offset-3.cell-md-offset-6.cell-lg-offset-9
          span.visible-xs xs, cell-xs-3
          span.visible-sm sm, cell-xs-3 cell-sm-offset-3
          span.visible-md md, cell-xs-3 cell-md-offset-6
          span.visible-lg lg, cell-xs-3 cell-lg-offset-9
