article#grid-reordered

  .grid

    header
      h3 Reordering
      p
        | Add classes to reorder columns.

    section

      .row
        .cell.cell-xs.cell-last 1
        .cell.cell-xs 2
        .cell.cell-xs 3
        .cell.cell-xs.cell-first 4
