article#grid-reordered

  .grid

    header
      h3 Reordering
      p
        | Add classes to reorder columns.

    section

      .row
        .cell.cell-xs.cell-last 1
        .cell.cell-xs 2
        .cell.cell-xs 3
        .cell.cell-xs.cell-first 4

      .row
        .cell.no-fill
          p
            | We can also have a more complex layour reorder!

      .row
        .cell.cell-xs.cell-second 1
        .cell.cell-xs.cell-tenth 2
        .cell.cell-xs.cell-fifth 3
        .cell.cell-xs 4
        .cell.cell-xs 5
        .cell.cell-xs 6
        .cell.cell-xs 7
        .cell.cell-xs 8
        .cell.cell-xs 9
        .cell.cell-xs 10
        .cell.cell-xs 11
        .cell.cell-xs 12
