section#grid-reordered
  .grid

    header
      h4.section-title Reordering
      p.section-description
        | Add classes to reorder cells

    article

      .row
        .cell.cell-xs.cell-order--last 1
        .cell.cell-xs 2
        .cell.cell-xs.cell-order--first 3
        .cell.cell-xs 4
        .cell.cell-xs 5
