section#grid-reordered.css

  header
    h2.section-title #{reordered}
    p.section-description #{reordered_description}

  article.toggle

    .row
      .cell.cell-xs.cell-order--last 1
      .cell.cell-xs 2
      .cell.cell-xs.cell-order--first 3
      .cell.cell-xs 4
      .cell.cell-xs 5
