article#grid-reversed

  .grid

    header
      h3 Reversing
      p

    section

      .row.reverse
        .cell.cell-xs 1
        .cell.cell-xs 2
        .cell.cell-xs 3
        .cell.cell-xs 4
        .cell.cell-xs 5
        .cell.cell-xs 6
        .cell.cell-xs 7
        .cell.cell-xs 8
        .cell.cell-xs 9
        .cell.cell-xs 10
        .cell.cell-xs 11
        .cell.cell-xs 12
