article
  header
    h1 Individual Sizing

  span
    | Unlike the basic grid, specifing a size on the class `cell-sm-#
    | will only fit that portion of the row. bsaically, it sets the
    | width of the cell, whereas not specifing, will let the grid figure
    | it out

  section.grid-sizing

    .row
      .cell.cell-xs-1
      .cell.cell-xs-3
      .cell.cell-xs-8
