article
  header
    h1 The grid

  span 12 columns

  section.grid-the

    .row
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-1 cell-1

    .row
      .cell.cell-xs-2 cell-2
      .cell.cell-xs-2 cell-2
      .cell.cell-xs-2 cell-2
      .cell.cell-xs-2 cell-2
      .cell.cell-xs-2 cell-2
      .cell.cell-xs-2 cell-2

    .row
      .cell.cell-xs-1 cell-1
      .cell.cell-xs-11 cell-11

    .row
      .cell.cell-xs-2 cell-2
      .cell.cell-xs-10 cell-10

    .row
      .cell.cell-xs-3 cell-3
      .cell.cell-xs-9 cell-9

    .row
      .cell.cell-xs-4 cell-4
      .cell.cell-xs-8 cell-8

    .row
      .cell.cell-xs-5 cell-5
      .cell.cell-xs-7 cell-7

    .row
      .cell.cell-xs-6 cell-6
      .cell.cell-xs-6 cell-6
