html {
  font-family: sans-serif; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
  height: auto; }

input[type='search'] {
  box-sizing: content-box; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif; }

@media only screen {
  [class*="visible"] {
    display: none; }
  .visible-xs {
    display: block; } }

@media only screen and (min-width: 40.063em) {
  [class*="visible"] {
    display: none; }
  .visible-sm {
    display: block; } }

@media only screen and (min-width: 64.063em) {
  [class*="visible"] {
    display: none; }
  .visible-md {
    display: block; } }

@media only screen and (min-width: 90.063em) {
  [class*="visible"] {
    display: none; }
  .visible-lg {
    display: block; } }

article {
  padding: 25px 0; }
  article .cell {
    background-color: rgba(236, 236, 236, 0.4);
    box-shadow: inset 0 0 0 2px #fff;
    padding: 12px;
    font-size: 10px; }
  article:nth-child(even) {
    background-color: rgba(236, 236, 236, 0.4); }
    article:nth-child(even) .cell {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px rgba(236, 236, 236, 0.4); }
  article header {
    margin-bottom: 15px; }
    article header h1 {
      font-size: 20px;
      font-weight: 400;
      margin: 0; }
    article header p {
      font-weight: 300;
      font-size: 12px;
      margin-top: 5px;
      margin-bottom: 0; }

ul {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  ul li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

header {
  background-color: #efefef;
  padding: 15px 0; }
  header h1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.btn {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  padding: 7.5px;
  display: block; }
  .btn i {
    margin-right: 7.5px;
    border: 1px solid red; }
  .btn-git {
    background-color: #4183c4; }
  .btn-twt {
    background-color: #55acee; }
/*# sourceMappingURL=theme.css.map */