/*

  GridleCSS Theme v1.0

  Author: @pacMakaveli90
  Author URL: http://creative-studio51.co.uk/

*/

@import "gridlecss";
@import "../../grid/gridlecss";

@import "helpers/variables";
@import "helpers/columns";
@import "helpers/mixins";
@import "helpers/animations";
@import "helpers/visibility";

@import "partials/reset";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,200italic,400italic,700italic);
html, body {
  height: 100%;
}

  body {
    // font-family: 'Raleway', sans-serif;
    // font-family: source-code-pro, monospace;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
  }

    @include media("screen", "xs") {
      .grid {
        padding-left: $theme-spacing;
        padding-right: $theme-spacing;
      }
    }

    .header {
      @include background-animation((nth($bluejeans, 1), nth($mint, 1), nth($aqua, 1)), 30);

      height: 100%;
      overflow: hidden;

      .btn {
        text-align: right;

        &--git {
          color: #fff;
          font-size: 1.5em;
          line-height: $theme-spacing;
        }
      }

      .brand {
        color: #fff;
        padding-bottom: $theme-spacing * 2;
        padding-top: $theme-spacing * 2;

        @include media("screen", "md") {
          padding: ( $theme-spacing * 3 ) 0;
        }

        &-name {

          &--pronunciation {
            font-weight: 100;
            font-size: .5em;
            margin-left: $theme-spacing / 2;
          }
        }
      }
    }

    @import "partials/demos";

    @import "partials/device";
    @import "partials/navigation";
    @import "partials/social";

    // Grid Sections

    .main {
      background-color: $theme-background-color;
      padding-bottom: $theme-spacing * 3;
    }

    section {
      // padding-bottom: $theme-spacing;
      // padding-top: $theme-spacing;
    }

    // .section-description {
    //   font-size: .8em;
    // }

    section {
    //   padding-bottom: $theme-spacing * 2;
    //   padding-top: $theme-spacing * 2;

    //   &:nth-child(odd) {
    //     background-color: rgba(nth($mediumgray, 1), 1);
    //   }

      header {
        padding-bottom: $theme-spacing * 3;
        padding-top: $theme-spacing * 3;
      }

      .section-title {
        font-size: 2em;
        font-weight: 200;
        color: $colour0;
      }

      .section-description {
        font-weight: 400;
        color: $colour2;
        padding-top: $theme-spacing / 2;
        font-size: 1em;
      }
    }

      article {
        background-color: $theme-box-color;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        padding: $theme-spacing * 2;

        header {
          padding-bottom: 0;
          padding-top: 0;
        }

        .cell:not(.no-style) {
          background-color: rgba(nth($darkgray, 1), .05);
          margin-bottom: 1px;
          margin-top: 1px;
          font-size: $theme-spacing / 1.5;
          padding: $theme-spacing / 2;
        }

        // &.separator {
        //   $gutter: $theme-spacing / 2;

        //   > .row {
        //     margin-left: -($gutter);
        //     margin-right: -($gutter);

        //     > .cell {
        //       margin-left: $gutter;
        //       margin-right: $gutter;
        //     }
        //   }
        // }
      }


  footer {
    background-color: #fff;
    padding-bottom: $theme-spacing * 3;
    padding-top: $theme-spacing * 3;
  }

/*

  Irrelevant CSS for the purpose of demonstrating the Grid' features

*/

.demo-alignment .row {
  height: 10em;

  span {
    border-bottom: 1px dotted rgba(0, 0, 0, .4);
    padding: 3px 0;
  }
}

.demo-baseline {
  &-1 {
    height: 5em;

    span {
      font-size: 3em;
    }
  }

  &-2 {
    height: 9em;

    span {
      font-size: 4.5em;
    }
  }
}

.text-center {
  text-align: center;
}
