@import "../../grid/gridlecss";

@import "helpers/variables";
@import "helpers/columns";

@import "helpers/mixins";
@import "helpers/animations";

@import "helpers/visibility";

html, body {
  height: 100%;
}

@import "partials/reset";

body {
  font-family: 'Raleway', sans-serif;
  font-size: 80%;

  @include media("screen", "sm") {
    font-size: 100%;
  }
}

.header {
  height: 100%;
  overflow: hidden;

  @include media("screen", "xs") {
    padding-left: $theme-spacing;
    padding-right: $theme-spacing;
  }

  @include background-animation((
    nth($bluejeans, 1),
    nth($mint, 1),
    nth($aqua, 1),
  ), 30);

  .btn {

    &--git {
      border-radius: $theme-border--radius;
      color: #fff;
      font-size: 2.5em;
      line-height: $theme-spacing;
      text-align: right;

      @include media("screen", "sm") {
        background-color: #4183c4;
        font-size: 1.5em;
        margin-right: $theme-spacing / 2;
        padding: $theme-spacing / 2;
        text-align: left;
      }

      i {
        margin-right: $theme-spacing / 2;
        vertical-align: middle;
      }

      @include media("screen", "sm") {
        span {
          display: inline-block;
        }
      }
    }
  }
}

.brand {
  color: #fff;
  padding-bottom: $theme-spacing;
  padding-top: $theme-spacing;

  @include media("screen", "md") {
    padding: ( $theme-spacing * 3 ) 0;
  }

  &-name {

    &--pronunciation {
      font-weight: 300;
      margin-left: $theme-spacing / 2;
    }
  }
}

@import "partials/demos";

@import "partials/device";
@import "partials/navigation";
@import "partials/social";

article {
  padding-bottom: $theme-spacing * 2;
  padding-top: $theme-spacing * 2;

  @include media("screen", "xs") {
    padding-left: $theme-spacing;
    padding-right: $theme-spacing;
  }

  header {
    margin-bottom: $theme-spacing;

    h3 {
      color: nth($darkgray, 2);
    }

    p {
      color: nth($darkgray, 1);
    }
  }

  &:nth-child(odd) {
    background-color: rgba(nth($mediumgray, 1), 1);
  }
}

section {
  font-size: .5em !important;

  .cell {
    background-color: rgba(nth($darkgray, 1), .05);
    color: nth($darkgray, 1f);
    margin-bottom: 1px;
    margin-top: 1px;
    padding: $theme-spacing / 2;
  }

  .row-title {
    font-size: 2em;
    padding-bottom: $theme-spacing;
    padding-top: $theme-spacing;
  }
}

.footer {
  padding-bottom: $theme-spacing * 2;
  padding-top: $theme-spacing * 2;

  p, a {
    color: nth($darkgray, 1);
    font-size: .8em;
  }

  a {
    border: 1px solid rgba(nth($darkgray, 1), 1);
    border-radius: $theme-border--radius;
    font-size: .6em;
    padding: 5px;
  }

  span {
    color: rgba(nth($grapefruit, 1), 1);
    font-size: 1em;
    margin-left: $theme-spacing / 2;
    margin-right: $theme-spacing / 2;
  }
}

.demo-alignment .row {
  height: 10em;

  span {
    border-bottom: 1px dotted rgba(0, 0, 0, .4);
    padding: 3px 0;
  }
}

.demo-baseline {
  &-1 {
    height: 5em;

    span {
      font-size: 3em;
    }
  }

  &-2 {
    height: 9em;

    span {
      font-size: 4.5em;
    }
  }
}

.text-center {
  text-align: center;
}
