html {
  font-family: sans-serif; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
  height: auto; }

input[type='search'] {
  box-sizing: content-box; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

*, *:before, *:after {
  -webkit-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  margin-top: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

p {
  font-size: .8em; }

span {
  font-size: .5em; }

a {
  font-size: 1.5em;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

@media only screen {
  [class*="visible"] {
    display: none; }
  .visible-xs {
    display: block; }
  .hidden-xs {
    display: none; } }

@media only screen and (min-width: 40.063em) {
  [class*="hidden"] {
    display: inline-block; }
  [class*="visible"] {
    display: none; }
  .visible-sm {
    display: block; } }

@media only screen and (min-width: 64.063em) {
  [class*="hidden"] {
    display: inline-block; }
  [class*="visible"] {
    display: none; }
  .visible-md {
    display: block; } }

.pill {
  background-color: #48CFAD;
  padding: 3px 10px;
  margin-left: .25em;
  margin-right: .25em;
  color: #fff;
  vertical-align: center;
  border-radius: 2px; }

.alert.info {
  background-color: #48CFAD;
  padding: 10px;
  color: #fff;
  border-radius: 2px; }
  .alert.info p {
    margin-bottom: 0 !important;
    margin-top: 0 !important; }

.btn {
  border-radius: 2px;
  color: #fff;
  display: block; }
  .btn-sm {
    padding: 1em; }
  .btn-md {
    padding: 0.25em 0.5em; }
  .btn-outline {
    border: 1px solid transparent; }

ul.list-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  ul.list-inline li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1px; }

.body {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  min-height: 100vh; }

.header {
  background-color: rgba(204, 209, 217, 0.2);
  padding-bottom: 1em;
  padding-top: 1em; }
  .header .brand span {
    font-weight: 300;
    margin-left: 0.5em; }
  .header .moto {
    margin-top: 0.5em; }
  .header .btn {
    line-height: 1em; }
    .header .btn i {
      display: inline-block;
      font-size: .7em;
      margin-right: 0.5em; }
    .header .btn-git {
      background-color: #4183c4; }
    .header .btn-twt {
      background-color: #55acee; }

.nav-bar {
  margin-bottom: 1em;
  margin-top: 1em; }
  .nav-bar ul {
    border: 1px solid #4FC1E9;
    border-radius: 2px; }
    .nav-bar ul li {
      margin: 0; }
      .nav-bar ul li a.btn {
        border-radius: 0;
        color: #4FC1E9;
        font-size: .7em;
        font-weight: 600;
        text-align: center;
        -webkit-transition-duration: .3s;
                transition-duration: .3s; }
        .nav-bar ul li a.btn:hover {
          color: #fff;
          background-color: #4FC1E9; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }
  .main article {
    padding-top: 2em;
    padding-bottom: 2em; }
    .main article header p {
      margin-top: 0.5em; }
    .main article section {
      margin-top: 1em; }
    .main article .cell:not(.no-fill) {
      background-color: rgba(204, 209, 217, 0.2);
      padding: 10px;
      font-size: .5em; }
    .main article .cell.no-fill p {
      margin-top: 1em; }
    .main article .cell.no-fill p, .main article .cell.no-fill .alert {
      margin-bottom: 1em; }
    .main article:nth-child(even) {
      background-color: rgba(204, 209, 217, 0.2); }
      .main article:nth-child(even) .cell:not(.no-fill) {
        background-color: white; }

.footer {
  background-color: rgba(204, 209, 217, 0.2);
  padding-bottom: 1em;
  padding-top: 1em; }

.demo-alignment .row {
  height: 10em; }
  .demo-alignment .row span {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
    padding: 3px 0; }

.demo-baseline-1 {
  height: 5em; }
  .demo-baseline-1 span {
    font-size: 3em; }
.demo-baseline-2 {
  height: 9em; }
  .demo-baseline-2 span {
    font-size: 4.5em; }
/*# sourceMappingURL=theme.css.map */