// @include media("xs") {
//   .visible-sm,
//   .visible-md,
//   .visible-lg { display: none !important; }
//   .visible-xs {
//     display: block !important;
//   }

//   .hidden-xs {
//     display: none !important;
//   }
// }

// @include media("sm") {
//   .visible-xs,
//   .visible-md,
//   .visible-lg { display: none !important; }
//   .visible-sm {
//     display: block !important;
//   }

//   .hidden-xs {
//     display: block!important;
//   }
// }

// @include media("md") {
//   .visible-xs,
//   .visible-sm,
//   .visible-lg { display: none !important; }
//   .visible-md { display: block !important; }

// }

// @include media("lg") {

//   .visible-xs,
//   .visible-sm,
//   .visible-md { display: none !important; }
//   .visible-lg { display: block !important; }


// }
