// Generate Flex Alignments
//
@mixin flex-alignments( $parent, $axis, $class, $requester ) {

  @each $element in $class {

    $selector: nth($element, 1);
    $rule: unquote(nth($element, 2));

    #{ $parent }#{ $selector } {

      @if $axis == "x" {

        justify-content: $rule;
        text-align: $rule;

      } @else if $axis == "y" {

        @if $requester == "parent" {

          align-items: $rule;

        } @else {

          align-self: $rule;
        }
      }
    }
  }
}
