.cells-container.text-center
  .row
    .cell.cell-xs.unstyled
      .row.demo-alignment-cross
        .cell align-stretch

    .cell.cell-xs.unstyled
      .row.align-top.demo-alignment-cross
        .cell .align-top

    .cell.cell-xs.unstyled
      .row.align-middle.demo-alignment-cross
        .cell align-middle

    .cell.cell-xs.unstyled
      .row.align-bottom.demo-alignment-cross
        .cell align-bottom

  .row
    .cell.unstyled
      .row.demo-alignment-baseline
        .cell.cell-xs.demo-alignment-baseline-1
          span baseline
        .cell.cell-xs.demo-alignment-baseline-2
          span baseline
        .cell.cell-xs
          span baseline

  .row
    .cell.unstyled
      .row.align-sm-top.align-md-middle.align-lg-bottom
        .cell.cell-xs
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          | Saepe, reprehenderit ipsum atque distinctio ad, nihil
          | repudiandae ut omnis dignissimos suscipit non quos debitis
          | inventore fuga alias. Quod ut nesciunt aut.

        .cell.cell-xs-3
          .visible-xs stretch
          .visible-sm align-sm-top
          .visible-md align-md-middle
          .visible-lg align-lg-bottom

        .cell.cell-xs-3
          .visible-xs stretch
          .visible-sm align-sm-top
          .visible-md align-md-middle
          .visible-lg align-lg-bottom
