.cells-container.text-center
  .row.demo-alignment-cross
    .cell.cell-xs.cell-align--top cell-align--top
    .cell.cell-xs.cell-align--middle cell-align--middle
    .cell.cell-xs.cell-align--bottom cell-align--bottom
    .cell.cell-xs.cell-align--stretch cell-align--stretch
