.cells-container.text-center
  .row
    .cell.cell-xs.unstyled
      .row.align-left
        .cell.cell-xs-7 align-left

    .cell.cell-xs.unstyled
      .row.align-center
        .cell.cell-xs-7 align-center

    .cell.cell-xs.unstyled
      .row.align-right
        .cell.cell-xs-7 align-right
