.cells-container.text-center
  .row.distribute-around.distribute-sm-between.distribute-md-around.distribute-lg-between
    .cell.cell-xs-3
      .visible-xs distribute-xs-around
      .visible-sm distribute-sm-between
      .visible-md distribute-md-around
      .visible-lg distribute-lg-between

    .cell.cell-xs-3
      .visible-xs distribute-xs-around
      .visible-sm distribute-sm-between
      .visible-md distribute-md-around
      .visible-lg distribute-lg-between

    .cell.cell-xs-3
      .visible-xs distribute-xs-around
      .visible-sm distribute-sm-between
      .visible-md distribute-md-around
      .visible-lg distribute-lg-between
