.cells-container
  .row
    .cell.cell-sm.cell-md-3.cell-lg
      span.visible-xs full-xs
      span.visible-sm auto-sm
      span.visible-md cell-md-3
      span.visible-lg auto-lg

    .cell.cell-sm.cell-md.cell-lg
      span.visible-xs full-xs
      span.visible-sm auto-sm
      span.visible-md auto-md
      span.visible-lg auto-lg

    .cell.cell-sm.cell-md-2.cell-lg
      span.visible-xs full-xs
      span.visible-sm auto-sm
      span.visible-md cell-md-2
      span.visible-lg auto-lg

    .cell.cell-sm.cell-md.cell-lg
      span.visible-xs full-xs
      span.visible-sm auto-sm
      span.visible-md auto-md
      span.visible-lg auto-lg
