.cells-container
  .row

    - for( var i = 0; i < 4; ++i )

      .cell.cell-xs auto

  .row
    .cell.cell-xs-3 cell-xs-3
    .cell.cell-xs auto
    .cell.cell-xs-2 cell-xs-2
    .cell.cell-xs auto
