.device-demo--container
  .device-demo--content.device-demo--side_a
    a.btn.btn-round.btn-yellow(href="", title="Check out some Demos")
      i.fa.fa-lightbulb-o

    p
      | More demos will be made available soon.

  .device-demo--side.device-demo--side_b
    a.btn.btn-round.btn-purple(href="https://github.com/studio51/gridlecss/archive/v#{version}.zip", title="GridleCSS v#{version}")
      i.fa.fa-arrow-down
    p
      | Download GridleCSS v#{version}


