/*

  GridleCSS Theme v1.0.0

  Author      : Vlad Radulescu
  Twitter     : @pacMakaveli90
  Github      : pacMakaveli90

  Author URL  : http://creative-studio51.co.uk/
  Project URL : https://github.com/studio51/gridlecss/tree/gh-pages

*/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,200italic,400italic,700italic);
@import '../../../grid/gridlecss';

// GridleCSS

@import 'helpers/variables';

// Helpers

@import 'helpers/reset';

@import 'helpers/columns';
@import 'helpers/mixins';
@import 'helpers/animations';
@import 'helpers/visibility';

html, body {
  height: 100%;
}

  body {
    background-color: $theme-background-color;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
  }

// Components

// @import 'components/buttons';

// Theme Partials

@import 'partials/header';

@import 'partials/navigation';

@import 'partials/device';
@import 'partials/demos';

@import 'partials/main';
// @import 'partials/footer';

/*

  Just for showcasing GridleCSS Alignments features

*/

// #grid-alignment.css {

//   .demo-alignment .row {
//     height: 10em;

//     span {
//       border-bottom: 1px dotted rgba($black, .4);
//     }
//   }

//   .demo-baseline {
//     &-1 {
//       span {
//         font-size: 10em;
//       }
//     }

//     &-2 {
//       span {
//         font-size: 15em;
//       }
//     }
//   }
// }

// .text-center {
//   text-align: center;
// }
