!!! 5

html(lang="en")
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title GridleCSS | Yet another Flexbox Grid

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic|Raleway:400,200,300,100,500,600,700,800,900')
    link(rel='stylesheet', href='../dist/gridlecss.css')
    link(rel='stylesheet', href='css/theme.css')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    //- script(src='js/twtfetch.js')
    //- script(type='text/javascript').

      //- var config1 = {
      //-   "id": '578119473917349889',
      //-   "domId": 'twtfeed',
      //-   "maxTweets": 10,
      //-   "enableLinks": true,
      //-   "showTime": false,
      //-   "showRetweet": false,
      //-   "showInteraction": false,
      //-   "showUser": false
      //- };

      //- twitterFetcher.fetch(config1);

  body

    header.header

      .grid
        .row
          .cell.cell-sm
            h1.brand GridleCSS
              span /ɡrɪd.lɛx/

            p.moto Yet Another Flex Grid framework!

          .cell.cell-sm-6.cell-md-4.cell-lg-3
            ul.list-inline
              li
                a.btn.btn-git(href="#")
                  i.fa.fa-github
                  span View on Github

              li
                a.btn.btn-twt(href="#")
                  i.fa.fa-twitter
                  span Spread the word


    main

      //- include templates/responsive-grid.jade
      //- include templates/fluid-grid.jade
      //- include templates/offsets-grid.jade
      //- include templates/auto-grid.jade
      //- include templates/nested-grid.jade
      //- include templates/alignment-grid.jade
      //- include templates/distribution-grid.jade
      //- include templates/reversed-grid.jade
      //- include templates/reordering-grid.jade

      //- include templates/basic-grid.jade
      //- include templates/sized-grid.jade


