!!! 5

html(lang="en")
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title GridleCSS | Yet another Flexbox Grid

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic|Raleway:400,200,300,100,500,600,700,800,900')
    link(rel='stylesheet', href='../dist/gridlecss.css')
    link(rel='stylesheet', href='css/theme.css')

  body

    header
      .grid-container
        .grid
          .grid-cell

    #main
      .grid-container
        .grid
          .grid-cell
            h1 gridleCSS
            span the CSS is silent ( gridlex )

        .grid
          .grid-cell
            .grid-image.grid-image--device

              .browser-window

                .mock-header
                  .grid
                    .grid-cell.grid-cell-sm-1
                      Studio51

                    .grid-cell.grid-cell-sm-2
                      Link
                    .grid-cell.grid-cell-sm-2
                      Link
                    .grid-cell.grid-cell-sm-2
                      Link

                .mock-main
                  .grid
                    .grid-cell
                    .grid-cell
                    .grid-cell.grid-cell-sm-1

                .mock-footer
                  .grid
                    .grid-cell
                      p Studio51 &copy; 2015. All rights Reserved

        .demo
          .grid
            .grid-cell auto
            .grid-cell auto
            .grid-cell.grid-cell-sm-2 2

          .grid
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1
            .grid-cell.grid-cell-sm-1 1

          .grid
            .grid-cell.grid-cell-sm-2 2
            .grid-cell.grid-cell-sm-2 2
            .grid-cell.grid-cell-sm-2 2
            .grid-cell.grid-cell-sm-2 2
            .grid-cell.grid-cell-sm-2 2
            .grid-cell.grid-cell-sm-2 2
    footer
