!!! 5

html(lang="en")
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title GridleCSS | Yet another Flexbox Grid

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic|Raleway:400,200,300,100,500,600,700,800,900')
    link(rel='stylesheet', href='../dist/gridlecss.css')
    link(rel='stylesheet', href='css/theme.css')

  body

    header.header

    main.main

      .grid

        include templates/the-grid.jade
        include templates/basic-grid.jade
        include templates/sized-grid.jade
        include templates/masonry-grid.jade

    footer.footer
      p Studio51 &copy; 2015. Some rights reserved
