!!! 5

html(lang="en")
  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title GridleCSS | Yet another Flexbox Grid

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,700,300italic|Raleway:400,200,300,100,500,600,700,800,900')
    link(rel='stylesheet', href='../dist/gridlecss.css')
    link(rel='stylesheet', href='css/theme.css')

  body

    header
      .grid-container
        .grid
          .cell
            span.current-width

    #main
      .grid-container
        .grid
          .cell
            h1 gridleCSS
            span the CSS is silent ( gridlex )

        .grid
          .cell
            .grid-image.grid-image--device

              .browser-window

                .mock-header
                  .grid
                    .cell.cell-sm-1
                      Studio51

                    .cell.cell-sm-2
                      Link
                    .cell.cell-sm-2
                      Link
                    .cell.cell-sm-2
                      Link

                .mock-main
                  .grid
                    .cell
                    .cell
                    .cell.cell-sm-1

                .mock-footer
                  .grid
                    .cell
                      p Studio51 &copy; 2015. All rights Reserved

        .demo
          .grid
            .cell auto
            .cell auto
            .cell.cell-sm-2 2

          .grid
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1
            .cell.cell-sm-1 1

          .grid
            .cell.cell-sm-2 2
            .cell.cell-sm-2 2
            .cell.cell-sm-2 2
            .cell.cell-sm-2 2
            .cell.cell-sm-2 2
            .cell.cell-sm-2 2

          .grid
            .cell.cell-sm-3 3
            .cell.cell-sm-3 3
            .cell.cell-sm-3 3
            .cell.cell-sm-3 3

          .grid
            .cell.cell-sm-4 4
            .cell.cell-sm-4 4
            .cell.cell-sm-4 4

          .grid
            .cell.cell-sm-3 3
            .cell.cell-sm-offset-8 1

          .grid
            .cell.cell-sm-6 6
            .cell.cell-sm-offset-4 2

    footer
      p Studio51 &copy; 2015. Some rights reserved
